.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;/*todo maak dit dynamic*/
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
    grid-gap: 15px;
    background: black;
}

.game-over {
    align-content: center;
    position: absolute;
    margin: auto;
    background-color: red;
    background: black;
    min-height: 100vh;
    width: fit-content;
    width: -moz-fit-content;
    min-width: 100vw;
    text-align: center;
    z-index: 10;
}